.experiencia {
    max-width: 1200px;
    margin:0 260px;
    padding: 40px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.subtitulo experiencia {
    color:#DEDEDE;
}

.sobre{
    font-size: 1rem;
    color:#717171;
    font-family: 'FiraSans-Medium',Arial,sans-serif;
    align-items: center;
    line-height: 1.4;
}

.sobre strong {
    color:#141414;
}

.projetos {
    display: grid;
    gap:28px 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;  
}

.projeto {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 20px;
    align-items: start;
    border-radius: 8px;
}

.projeto-info {
  display: flex;
  justify-content: center;
  background-color: #F7F7F7;
  gap: 20px;
  padding: 30px;
  position: relative;
}

.projeto-info::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 20px;
    /*background:linear-gradient(#b6f829,#67dd0a);*/
    background:linear-gradient(#E1F505,#303813);
    left:-4px;
}

.projeto-descricao {
    line-height: 1.4;
    overflow-wrap: break-word;
}

.projeto-descricao p {
    font-size: 15px;   
    color:#525252;
    line-height: 1.4; 
    align-self: flex-end;
    font-weight: 100;
    margin-top: 12px;
}


.projeto-descricao h3, strong {
    color:#141414;
}

.projeto-tecnologias {
    display: flex;
    gap: 10px;
    align-content: start;
    flex-wrap: wrap;
}

.tecnologias {
    display: flex;
    flex-wrap: wrap;
    min-width: 200px;
    gap: 8px;
    list-style: none;
    padding: 0px;
    margin:0px;
}
.projeto-tecnologias li { 
    color:#141414;
    line-height: 1.4;
    border-radius: 4px;
    background-color: #70706f;
    padding: 5px 10px;
    text-align: center;
}

.projeto-img {
    width: 80%;
    height: 150px;
    align-self: center;
    overflow: hidden;
    border: 8px;
    background-color: #D9D9D9;
    grid-row: 1;
}

.ano-projeto {
    font-size: 0.8rem;
    font-weight: 100px;
    font-family:  'FiraSans-Medium',Arial,sans-serif;
    position: absolute;
    top:7;
    left:-40px;
}

.projeto-descricao {
    font-size: 1rem;
    font-family: 'FiraSans-Medium',Arial,sans-serif;
    color: #5D5D5D;
    font-weight: 100px;
}

@media (max-width: 1172px) {
    .experiencia {
        grid-template-columns: 1fr;
        gap:30px
    }

    .experiencia .subtitulo {
          max-width: 10ch;
          white-space: normal;
    }
}

@media (max-width: 800px) {
    .experiencia {
        grid-template-columns: 1fr;
        margin: 0 auto;
    }

    .experiencia .subtitulo { 
        font-size: 3rem;
    }

    .projeto{
        grid-template-columns: 1fr;
        
    }

    .ano-projeto {
        position: initial;  
    }

    .projeto-img {
        display: none;
    }
}

@media (max-width: 552px) {
  .projeto-info {
    flex-direction: column;
  }

  .projeto-tecnologias {
    display: flex;
    flex-direction: column;
  }
}

@font-face {
        font-family: 'FiraSans-Medium';
        src: url('../css/fonts/FiraSans-Medium.ttf') format('truetype');
    }