.footer {
    background-color: #0B0B0B;
    padding: 100px 0;
}

.footer-container {
    max-width: 1200px;
    margin:0 auto;
    padding: 40px;
    gap: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.contato-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    position: relative;
}

.contato-container:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -20px;
    width: 4px;
    height: 40px;
    background-color: #E1F505;
}
  
h2 , p{
    color: #FFFFFF;
}

p {
    font-size: 0.8rem;
}

.icon {
    margin-top: 4px;
    width: 1.3em;
    height: 1.3em;
}

@media (max-width: 450px) {

    .footer {
        padding: 50px;
    }
    .icon {
        width: 2em;
        height: 2em;
    }

   .container-conteudo {
    display: none;
   }
      h2 {
    font-size: 1rem;
   }

   p {
    font-size: 0.5rem;
   }
   .contato-container::after {
     display: none;
   }
}
