.formacao {
    background-color: #191919;
    color: #DEDEDE;
}

.formacao-container {
    max-width: 1200px;
    margin:0 auto;
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 40px;
    position: relative;
}

.formacao-container::before {
    content: "";
    position: absolute;
    width: 130px;
    height: 130px;
    background: url(../img/detalhe\ 1.svg) no-repeat center;
    bottom: -60px;
}


.formacao .subtitulo {
    color: #0E0E0E;
    min-width: 6ch;
    align-self: start;
}

.cursos-list {
    display: flex;
    flex-direction: column;
    gap:20px;
    padding-top: 100px;
}

.cursos-list p {
    color: #a3a3a3;
    font-size: 0.8rem;  
}

h3 {
    color: #f7f7f7;
    display: block;
    font-size: 1rem;
}

.curso {
    flex:1;
    background-color:#0E0E0E;
    border-radius: 4px;
    padding: 10px;  
    display: flex;
    flex-direction: column;
    gap: 10px; 
    position: relative;
}

.curso::before{
    content: "";
    position: absolute;
    width: 4px;
    height: 20px;
    background:linear-gradient(#E1F505,#303813);
    left:-4px;

}
  
.capelo-img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: start;  
    height: 100px;
}

.capelo {
    width: 60px;
    height: auto;
}


@media (max-width:1180px) {
    
    .formacao-container {
        grid-template-columns: 1fr;
        gap: 0px;

    }

    .cursos-list {
        flex:1;  
        flex-direction: row;
    }

    .curso {
        flex:1;
    }

    h2.subtitulo {
        font-size:7rem;
    }
} 


@media (max-width: 700px) {
    
    h2.subtitulo {
        font-size: 6rem;
    }
 
}

@media (max-width: 400px) {

    .cursos-list {
        flex-direction: column;
    }
    
    h2.subtitulo {
        font-size: 3rem;
        text-align: center;
    }
 
}