.introducao {
    max-width: 1200px;
    padding: 40px 20px;
    margin:0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap:100px;
    align-items: center;

}

.introducao h1 {
    position: relative;
}

.introducao h1::before {
    content: "";
    display: block;
    width: 130px;
    height: 130px;
    background: url(../img/detalhe\ 1.svg) no-repeat center;
    position: absolute;
    top:-30px;
    left: -40px;
    z-index: -1;
}

.titulo {
    font-family: 'FiraSans',Arial, sans-serif;
    font-weight: 700;
    font-size: 4.5rem;
    line-height: 1.125;
    display: grid;
    grid-column: span 2;
}

#retangulo {
    background-color:#CCCCCC;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

#retangulo img {
    width: 12px;
    height: 12px;
    display: block;
}

.loc {
     font-family: 'FiraSans',Arial, sans-serif;
     font-size: 1.2rem;
     font-weight: 400;
     color: #9C9C9C;
     margin-top: 7px;
     
}

@media (max-width: 1000px) {
    .introducao h1 {
    font-size: 3rem;
    }
}

@media (max-width: 1000px) {
   
    .introducao {
        grid-template-columns: 1fr 1fr;
        gap: 40px
    }

     .introducao h1 {
    font-size: 2rem;
    }

    .introducao h1::before {
        width: 30px;
        height: 10px;
        left: 0px;
        top:-15px;
    }
}

@media (max-width: 400px) {
    .introducao img{
        display: none;
        grid-template-columns: 1fr;
    }

 
}

