@import url(./header.css);
@import url(./introducao.css);

body{
    margin: 0px;
    font-family: 'FiraSans',Arial,sans-serif;
    color:#141414;
    text-decoration: none;
}

h1,h2,h3,p {
    margin: 0px;
}

img {
    max-width: 100%;
    display: block;
}

