@import url(./header.css);
@import url(./introducao.css);
@import url(./experiencia.css);
@import url(./formacao.css);
@import url(./footer.css);

body{
    margin: 0px;
    font-family: 'FiraSans',Arial,sans-serif;
    color:#141414;
    text-decoration: none;
}

h1,h2,h3,p {
    margin: 0px;
}

img {
    max-width: 100%;
    display: block;
}

.subtitulo {
    font-size: 8rem;
    text-transform: uppercase;
    line-height: 1;
    overflow-wrap: break-word;
}



